@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

:root {

  --bg-color:#252525;
  --fg-color:white;
}

html,body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--fg-color);
}

.main-header {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid red;
}

.main-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 700px;
}

.loading-container {
  position: fixed;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#loader {
  font-size: 20px;
  margin-bottom: 20%;
}

.animation-container {
  border-radius: 50%;
  background-color: red;
  height: 100px;
  width: 100px;
  position: relative;
}

.animation-container::before,
.animation-container::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid white;
  box-sizing: border-box;
  border-radius: 50%;
  animation: loader 1s ease-in-out infinite;
}

.animation-container::before {
  animation-delay: -0.5s;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  50% {
    transform: rotate(180deg);
    box-shadow: inset -20px 0px 0px rgba(255, 255, 255, 0.4);
  }
  
  100% {
    transform: rotate(360deg);
  }
}



.canvas-container {
  height: 100%;
  width: 100%;
  border: 3px solid red;
  padding: 1px;
  margin: 5% 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  background-color: white;
  display: block;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

#theme-toggle-button {
  position: absolute;
  top: 0;
  right: 15px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.light-theme-icon {
  color: black;
}

.dark-theme-icon {
  color: white;
}

footer {
  background-color: black;
  color: #fff;
  padding: 50px 0;
  width: 100%;
  height: 40%;
  position: fixed;
  bottom: 0;
}

.footer-invisible {
  opacity: 0;
  transition: opacity 0.1s cubic-bezier(.25,.1,.25,1);
}

.footer-visible {
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(.25,.1,.25,1);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container a {
  background-color: black;
}
