:root {

  --bg-color:#252525;
  --fg-color:white;
}

html,body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--fg-color);
  height: 100%;
}

.main-header {
  text-align: center;
  margin-top: 20px;
}

.main-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas-container {
  margin-top: 500px;
  height: 100%;
  width: 100%;
  margin: auto;
  border: 2px solid green;
}

canvas {
  background-color: white;
  display: block;
  margin: 0 auto;
}

#theme-toggle-button {
  position: absolute;
  top: 0;
  right: 15px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 1px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.light-theme-icon {
  color: black;
}

.dark-theme-icon {
  color: white;
}
